
<h4>Vælg en bruger</h4>

<div *ngIf="users|async as usersList" >
  <div *ngFor="let user of usersList" class="d-flex align-items-baseline">
    <p> Bruger: {{user.firstName}} {{user.lastName}} (ID: {{user.userId}})</p>

    <button
      mat-raised-button
      color="primary"
      class="rounded-3 m-1"
      (click)="onUserClick($event, user)"
    >
      Choose
    </button>
<!--      <div class="d-flex align-items-center">-->
<!--      </div>-->
  </div>
</div>

<div>
  <button
    mat-raised-button
    color="primary"
    class="rounded-3 m-1"
    (click)="onRefreshClick()"
  >
    Opdater siden
  </button>
</div>

<!--<div *ngIf="users|async as usersList">-->
<!--  <div *ngFor="let user of usersList">-->
<!--      <pre>-->
<!--        {{user|json}}-->
<!--      </pre>-->
<!--  </div>-->
<!--</div>-->
