

<!--  &lt;!&ndash; Date picker &ndash;&gt;-->
<!--  <div class="me-3">-->
<!--    <mat-card-->
<!--      style="width: 300px">-->
<!--      <mat-calendar [(selected)]="selectedDate"></mat-calendar>-->
<!--    </mat-card>-->
<!--    <p>Selected date: {{selectedDate?.toDateString()}}</p>-->
<!--  </div>-->

<div class="">
  <!-- NOT USED, For error hint: https://www.educba.com/angular-material-form-validation/
  NOT USED, more on validation https://angular.io/guide/form-validation -->

  <form
    [formGroup]="formGroup"
    (ngSubmit)="submitBooking(formGroup)"
    class="d-flex flex-column"
    style="min-width: 300px">
  <!-- Title -->
<!--  <h5>Titel</h5>-->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Enter title for booking" formControlName="title">
<!--    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">-->
<!--      <mat-icon>close</mat-icon>-->
<!--    </button>-->
  </mat-form-field>

  <!-- Date -->
<!--    <h5>Dato</h5>-->
    <mat-form-field appearance="fill">
      <mat-label>Vælg en dato</mat-label>
      <input
        matInput [matDatepicker]="picker"
        [formControl]="startDate"
        formControlName="date">
<!--      <mat-hint>MM/DD/YYYY</mat-hint>-->
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Venligst vælg en dato</mat-error>

    </mat-form-field>

  <!-- Time / all day -->
<!--    <h5 class="mt-3">Klokkeslæt</h5>-->
    <mat-slide-toggle
      class="mb-2"
      [color]="'primary'"
      [checked]="_allDay"
      (toggleChange)="switchAllDay()">
        Hele dagen
    </mat-slide-toggle>

    <mat-form-field appearance="fill">
      <mat-label>Klokkeslæt</mat-label>
      <input type="time" matInput formControlName="time">
    </mat-form-field>


  <!-- Meeting room selection -->
    <!-- Location -->
<!--    <h5>Lokation</h5>-->
    <mat-form-field>
      <mat-label>Vælg en lokation</mat-label>
      <mat-select formControlName="room">
        <mat-option>Ingen</mat-option>
        <mat-option value="Room 1">Room 1</mat-option>
        <mat-option value="Room 2">Room 2</mat-option>
        <mat-option value="Room 3">Room 3</mat-option>
        <mat-option value="Room 4">Room 4</mat-option>
        <mat-option value="Hall 1">Hall 1</mat-option>
        <mat-option value="Hall 2">Hall 2</mat-option>
      </mat-select>
      <mat-error> Venligst vælg en lokation </mat-error>
    </mat-form-field>

    <!-- Room info from FM -->

  <!-- Description -->
<!--    <h5>Beskrivelse</h5>-->
    <mat-form-field appearance="fill">
    <mat-label>Beskrivelse</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

    <button mat-raised-button type="submit">Gem bookning</button>

    <p>Form Group Status: {{formGroup.status}}</p>

  </form>

</div>
