

<div class="">

  <form
    [formGroup]="formGroup"
    (ngSubmit)="submitBooking(formGroup)"
    class="d-flex flex-column"
    style="min-width: 300px">
  <!-- Title -->
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input id="cy_title" matInput placeholder="Enter title for booking" formControlName="title">
  </mat-form-field>

  <!-- Date -->
    <mat-form-field appearance="fill">
      <mat-label>Vælg en dato</mat-label>
      <input
        matInput id="cy_date" [matDatepicker]="picker"
        formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error>Venligst vælg en dato</mat-error>

    </mat-form-field>

  <!-- Time / all day -->
    <mat-slide-toggle
      id="cy_allDay"
      class="mb-2"
      [color]="'primary'"
      [checked]="_allDay"
      (toggleChange)="switchAllDay()">
        Hele dagen
    </mat-slide-toggle>

    <mat-form-field appearance="fill">
      <mat-label>Klokkeslæt</mat-label>
      <input id="cy_time" type="time" matInput formControlName="time">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Varighed i minutter</mat-label>
      <input id="cy_duration" type="number" matInput formControlName="duration" step="5">
    </mat-form-field>


  <!-- Meeting room selection -->
    <!-- Location -->
    <mat-form-field>
      <mat-label>Vælg en lokation</mat-label>
      <mat-select id="cy_select" formControlName="room">
        <mat-option>Ingen</mat-option>
        <mat-option value="1">Rum 1</mat-option>
        <mat-option value="2">Rum 2</mat-option>
        <mat-option value="3">Rum 3</mat-option>
        <mat-option value="4">Rum 4</mat-option>
        <mat-option value="5">Hal 1</mat-option>
        <mat-option value="6">Hal 2</mat-option>
      </mat-select>
      <mat-error> Venligst vælg en lokation </mat-error>
    </mat-form-field>

    <!-- Room info from FM - not implemented -->

  <!-- Description -->
    <mat-form-field appearance="fill">
    <mat-label>Beskrivelse</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

    <button mat-raised-button type="submit">Gem bookning</button>

    <p>Form Group Status: {{formGroup.status}}</p>

  </form>

</div>
