<div class="m-5">

<h3> This page is for testing and experimenting while developing</h3>

<!-- Single json object. Lavet som listen nedenunder, da den ikke printer random [] -->
<div *ngIf="person|async as p">
  Person
  <div *ngFor="let a of p">
    <pre>
      {{a|json}}
    </pre>
  </div>

<!-- Single version sometimes is the only thing that works, but generates an [] if service fails-->
<!--  <pre>-->
<!--    {{p|json}}-->
<!--  </pre>-->

</div>

<!-- List json object -->
  <div *ngIf="weather|async as weatherList">
    Random vejr
    <div *ngFor="let a of weatherList">
      <pre>
        {{a|json}}
      </pre>
    </div>
  </div>
</div>

