
<div class="page-divider">

  <div class="m-5" id="bookingList">
    <div *ngIf="bookings|async as bookingList" >

    <h2>Dine bookninger</h2>

      <p *ngIf="bookingList.length < 1" class="d-flex align-items-baseline">
        Du har ingen bookninger. Gå til <button mat-button style="color: #8DC63F" routerLink="/app/booking"><u><a>Booking</a></u></button> for at oprette en bookning.
      </p>

      <table style="width: 100%">
        <tr>
          <th>Titel</th>
          <th>Start</th>
          <th>Slut</th>
          <th>Beskrivelse</th>
          <th></th>
          <th></th>
        </tr>
        <tbody>
          <tr *ngFor="let booking of bookingList">
            <td>{{booking.title}}</td>
            <td>{{booking.startDate|date:'short'}}</td>
            <td>{{booking.endDate|date:'short'}}</td>
            <td>{{booking.description}}</td>
            <td>
              <button
                mat-icon-button
                id="cy_edit"
                color="accent"
                class="rounded-3 m-1"
                (click)="onEditClick(booking)">
                <mat-icon>edit</mat-icon>
              </button>
            </td>        <td>
              <button
                mat-icon-button
                id="cy_delete"
                color="warn"
                class="rounded-3 m-1"
                (click)="onDeleteClick(booking)">
                <mat-icon>delete</mat-icon>
              </button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>


  </div>

  <div style="max-width: 700px" class="m-5" *ngIf="bookingForEdit !== undefined">

    <booking-edit
      [booking]="bookingForEdit"
      (updatedBooking)="refreshList()">
    </booking-edit>

  </div>

</div>
