
<!--Nav bar -->
<mat-toolbar color="primary">
  <!--  <mat-icon routerLink="">home</mat-icon>-->
  <!--  <button mat-icon-button>needs a mat icon in here</button>-->

  <button mat-icon-button routerLink="home"><mat-icon >home</mat-icon></button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="weather">Random Vejr</button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="calendar">Kalender</button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="booking">Bookning</button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="user">Bruger</button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="ng-tutorial">Angular Tutorial</button>
  <button mat-button style="margin: 5px" class="rounded-3" routerLink="documentation">Dokumentation</button>

  <button mat-raised-button style="margin: 5px" class="rounded-3 ms-auto" (click)="logOut($event)">Log ud</button>

</mat-toolbar>

<div style="margin: 0">
  <router-outlet><!--When making routes, they will load after this tag--></router-outlet>
</div>
