/* You can add global styles to this file, and also import other style files */
@import 'theme.scss';

body{
  margin: 0;
}

.dalux-green{
  background-color: #8DC63F
}
$edit-yellow: $my-yellow;

$dalux_green: (
  50 : #f1f8e8,
  100 : #ddeec5,
  200 : #c6e39f,
  300 : #afd779,
  400 : #9ecf5c,
  500 : #8dc63f,
  600 : #85c039,
  700 : #7ab931,
  800 : #70b129,
  900 : #5da41b,
  A100 : #ebffdb,
  A200 : #cfffa8,
  A400 : #b3ff75,
  A700 : #a5ff5c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

.T-blocks{
  background-color: #1976d2;
  height: 30px;
  width: 100px;
}
